/* Réinitialisation des styles de base */
body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: #800000; /* Couleur de texte principale */
    background-color: #F5EEE6; /* Couleur de fond globale */
}

/* Styles des titres */
h1, h2, h3, h4 {
    color: #800000; /* Couleur de texte pour les titres */
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: justify;
}

/* Ajustements pour le titre principal */
h1 {
    padding-top: 30px;
    margin-top: 0; /* Suppression de la marge supérieure pour un meilleur espacement */
    font-weight: bold;
}
h4 { 
    color: #800000; /* Couleur de texte pour les titres */
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: justify;
}
*
/* Styles des liens et des boutons */
a, .btn-check, .btn-card {
    color: #800000; /* Couleur de texte pour les liens et boutons */
    background-color: #C19A6B; /* Couleur d'arrière-plan pour les liens et boutons */
    text-decoration: none;
    padding: 10px 15px;
    border: 2px solid #C19A6B; /* Bordure des boutons */
    border-radius: 5px; /* Coins arrondis pour les boutons */
    display: inline-block;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease; /* Effet de transition fluide */
}

/* Styles de la bannière */
.banner {
    background-size: cover;
    background-repeat: no-repeat;
    color: #800000; /* Couleur de texte pour la bannière */
    text-align: center;
    padding: 180px 0;
}

.banner .cta-button {
    background-color: #800000; /* Couleur de fond du bouton */
    color: #FFFFFF; /* Couleur de texte du bouton */
    padding: 15px 30px;
    border-radius: 25px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Conteneur pour centrer le contenu */
.container {
    width: 80%;
    margin: 0 auto;
}

/* Styles des cartes d'articles */
.card-white {
    background: #F5EEE6; /* Couleur d'arrière-plan pour les cartes */
    box-shadow: 4px 8px #800000; /* Ombre portée pour les cartes */
    border-radius: 5px;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    color: #800000; /* Couleur de texte pour les cartes */
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Effet de transition fluide */
}

.image-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto; /* Centre l'élément sur la page */
}

.image-item .description {
    margin-top: 1rem; /* Espacement entre l'image et la description */
    text-align: justify; /* Justifie le texte */
    width: 80%; /* Définit une largeur pour justifier le texte */
}

.image-item .linkedin-btn {
    margin-top: 0.5rem; /* Espacement entre la description et le bouton */
}

/* Styles des images dans les cartes d'articles */
.card-white img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 20px;
}

/* Mise en grille des cartes d'articles */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

/* Styles du pied de page */
.footer {
    background: #C19A6B; /* Couleur d'arrière-plan pour le pied de page */
    color: #800000; /* Couleur de texte pour le pied de page */
    text-align: center; /* Centre le texte dans le pied de page */
    padding: 24px 20px;
}

/* Styles des onglets de navigation */
.tabs {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    border-radius: 10px;
    overflow: hidden;
}

.tab {
    flex-grow: 1;
    background-color: #F5EEE6; /* Couleur d'arrière-plan pour les onglets */
    color: #800000; /* Couleur de texte pour les onglets */
    text-align: center;
    padding: 15px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Effet de transition fluide */
    margin: 0 5px; /* Ajout d'une marge entre les onglets */
}

.tab:hover, .tab.active {
    background-color: #C19A6B; /* Couleur d'arrière-plan au survol */
    color: #FFFFFF; /* Couleur de texte au survol */
    transform: translateY(-3px); /* Légère translation vers le haut au survol */
    box-shadow: 0 4px 6px rgba(0,0,0,0.2); /* Légère ombre portée au survol */
}

/* Ajustements pour les écrans de taille moyenne */
@media screen and (max-width: 768px) {
    .container, .cards {
        width: 95%; /* Réduction de la largeur pour s'adapter aux écrans plus petits */
        grid-template-columns: 1fr; /* Affichage en une seule colonne */
    }
    
    header, footer {
        padding: 15px 0; /* Réduction de la marge intérieure pour une meilleure lisibilité */
    }
}

/* Ajustements pour les écrans de taille plus grande */
@media screen and (max-width: 1024px) {
    .cards {
        grid-template-columns: repeat(2, 1fr); /* Affichage de deux articles par ligne sur les écrans moyens */
    }
}
